.nav ul {
  list-style: none;
}
.nav ul li {
  float: left;
  margin-left: 10px;
  color: grey;
  font-size: 20px;
}
.nav button {
  width: 40px;
  height: 25px;
  color: white;
}
.nav {
  float: left;
}
.nav2 {
  float: right;
}
.nav2 ul {
  list-style: none;
}
.nav2 ul li {
  float: left;
  margin-right: 20px;
  color: grey;
  font-size: 20px;
}

.center {
  text-align: center;
  margin-top: 250px;
}
.center img {
  text-align: center;
  width: 340px;
  height: 120px;
}
.center input {
  border-radius: 50px;
  width: 700px;
  height: 60px;
  margin-top: 40px;
  border: 1px solid grey;
  box-shadow: 1px 1px 1px grey, 0 0 1px grey, 0 0 1px grey;
}
.img1 img {
  width: 40px;
  height: 40px;
  position: absolute;
  margin-left: -350px;
  margin-top: -53px;
}
.img2 img {
  position: absolute;
  width: 40px;
  height: 40px;
  margin-left: 300px;
  margin-top: -50px;
}
.btn button {
  margin-top: 20px;
  width: 140px;
  height: 40px;
  border-radius: 5px;
  margin-left: 15px;
  font-size: 15px;
  background-color: #f8f9fa;
  border: 1px solid #f8f9fa;
  color: #3c4043;
  font-family: arial, sans-serif;
  font-size: 14px;
  line-height: 27px;
  text-align: center;
  cursor: pointer;
  user-select: none;
}

.foot ul {
  list-style: none;
}
.foot ul li {
  float: left;
  margin-left: 25px;
  color: grey;
  font-size: 20px;
}
.foot button {
  width: 40px;
  height: 25px;
  color: white;
}
.foot {
  float: left;
}
.foot2 {
  float: right;
}
.foot2 ul {
  list-style: none;
}
.foot2 ul li {
  float: left;
  margin-right: 25px;
  color: grey;
  font-size: 20px;
}
.footer {
  margin-top: 300px;
}
